@{
  Layout = "_Layout";
}

@model Soccer.Models.Team

<h3>Add A Tournament</h3>
<hr>

<h4>Add a course to this student: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TeamId)
  <div class="form-group">

    @Html.Label("Select Course")
    @Html.DropDownList("TournamentId", null, new { @class = "form-control"})
  </div>
  <br>
  <input type="submit" value="Save" class="btn btn-dark"/>
}
<br>
<p class="btn btn-dark">@Html.ActionLink("Back to List", "Index")</p>